<%- include('./partials/head') %>

<div class="register-container">
    <h2 class="title">Bienvenido/a</h2>

    <div>
        <p>Prueba las siguentes rutas:</p>
        <ul>
            <li>/products</li>
                <ul>
                    <li>/api</li>
                    <li>/chat</li>
                </ul>
            <li>/api/products-test</li>
            <li>/session</li>
            <ul>
                <li>/register</li>
                <li>/login</li>
            </ul>
        </ul>
    </div>
</div>
