<%- include('./partials/head') %>

<div class="register-container">
    <h2 class="title">Bienvenido/a</h2>

    <div>
        <p>Prueba las siguentes rutas:</p>
        <ul>
            <li>/products</li>
                <ol>
                    <li>/api</li>
                    <li>/chat</li>
                </ol>
            <li>/api</li>
                <ol>
                    /products-test
                </ol>
            <li>/session</li>
            <ol>
                <li>/register</li>
                <li>/login</li>
            </ol>
        </ul>
    </div>
</div>
